In [1]:
import pandas as pd

In [5]:
iucn_df_1 = pd.read_csv('Final_project/data/iucn_df_fri.csv')

In [8]:
iucn_df_1 = iucn_df_1.drop(['Unnamed: 0'], axis = 1)
iucn_df_1
#dropping the unnamed axis

,scientific_name,red_list_category,year_published,assessment_date,population_trend,systems,region,habitat,phylum_name,class_name,Exporter,Origin
0,Hexanchus griseus,Near Threatened,2020,2019,Decreasing,Marine,NaN,Global,Vertebrates,Cartilaginous fishes,NaN,NaN
1,Heosemys annandalii,Critically Endangered,2021,2018,Decreasing,Terrestial & Freshwater,Indomalayan,Global,Vertebrates,Reptiles,NaN,NaN
2,Hubbsina turneri,Critically Endangered,2019,2018,Decreasing,Freshwater,Neotropical,Global,Vertebrates,Ray-finned fishes,NaN,NaN
3,Hungerfordia pelewensis,Endangered,2012,2011,Unknown,Terrestrial,Oceanian,Global,Mollusks,Snails & slugs,NaN,NaN
4,Ictalurus mexicanus,Vulnerable,2019,2018,Unknown,Freshwater,Neotropical,Global,Vertebrates,Ray-finned fishes,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
18449,Cercopithecus nictitans,Near Threatened,2020,2016,Decreasing,Terrestrial,Afrotropical,Global,Vertebrates,Mammals,NaN,NaN
18450,Sapajus cay,Vulnerable,2022,2022,Decreasing,Terrestrial,Neotropical,Global,Vertebrates,Mammals,NaN,NaN
18451,Plecturocebus vieirai,Critically Endangered,2022,2022,Decreasing,Terrestrial,Neotropical,Global,Vertebrates,Mammals,NaN,NaN
18452,Mico schneideri,Endangered,2022,2022,Decreasing,Terrestrial,Neotropical,Global,Vertebrates,Mammals,NaN,NaN
18453,Loxodonta africana,Endangered,2022,2020,Decreasing,Terrestrial,Afrotropical,Global,Vertebrates,Mammals,NaN,NaN

In [10]:
sci_name_us = pd.read_excel('sci_names_us.xlsx')

In [16]:
sci_name_us = sci_name_us.drop(['Where Listed'], axis = 1)

In [89]:
sci_name_us

,Inverted Common Name,scientific_name,Species Group,Historic Range,Listing Status
0,"Abalone, Black",Haliotis cracherodii,Snails & slugs,NaN,E
1,"Abalone, White",Haliotis sorenseni,Snails & slugs,Mexico,E
2,"Acornshell, southern",Epioblasma othcaloogensis,Molluscs,"U.S.A. (AL, GA, TN)",E
3,Addax,Addax nasomaculatus,Mammals,North Africa,E
4,"Adjutant, greater",Leptoptilos dubius,Birds,NaN,E
...,...,...,...,...,...
1253,"Zebra, Grevy's",Equus grevyi,Mammals,"Kenya, Ethiopia, Somalia",T
1254,"Zebra, Hartmann's mountain",Equus zebra hartmannae,Mammals,"Namibia, Angola",T
1255,"Zebra, mountain",Equus zebra zebra,Mammals,South Africa,E
1256,"`O`o, Kauai (honeyeater)",Moho braccatus,Birds,U.S.A. (HI),E
1257,`O`u (honeycreeper),Psittirostra psittacea,Birds,U.S.A. (HI),E

In [83]:
sci_name_us['Species Group'] = list(map(clean_class, sci_name_us['Species Group']))

In [86]:
def rename_columns(x):
    x.rename(columns={'Scientific Name':'scientific_name','Inverted Common Name':'common_name'}, inplace=True )
    return x

In [19]:
def rename_columns_df(x):
    x.rename(columns={'Scientific Name':'scientific_name'}, inplace=True )
    return x

In [90]:
sci_name_us = rename_columns(sci_name_us)

In [91]:
sci_name_us

,common_name,scientific_name,Species Group,Historic Range,Listing Status
0,"Abalone, Black",Haliotis cracherodii,Snails & slugs,NaN,E
1,"Abalone, White",Haliotis sorenseni,Snails & slugs,Mexico,E
2,"Acornshell, southern",Epioblasma othcaloogensis,Molluscs,"U.S.A. (AL, GA, TN)",E
3,Addax,Addax nasomaculatus,Mammals,North Africa,E
4,"Adjutant, greater",Leptoptilos dubius,Birds,NaN,E
...,...,...,...,...,...
1253,"Zebra, Grevy's",Equus grevyi,Mammals,"Kenya, Ethiopia, Somalia",T
1254,"Zebra, Hartmann's mountain",Equus zebra hartmannae,Mammals,"Namibia, Angola",T
1255,"Zebra, mountain",Equus zebra zebra,Mammals,South Africa,E
1256,"`O`o, Kauai (honeyeater)",Moho braccatus,Birds,U.S.A. (HI),E
1257,`O`u (honeycreeper),Psittirostra psittacea,Birds,U.S.A. (HI),E

In [97]:
sci_name_us['Listing Status'].value_counts()

E    970
T    217
Name: Listing Status, dtype: int64

In [96]:
sci_name_us = sci_name_us[sci_name_us['Listing Status'].str.contains('EXPN') == False]

In [ ]:
red_list_category

In [21]:
concat_1 = pd.merge(iucn_df_1, sci_name_us, on='scientific_name', how='left')

In [25]:
concat_1

,scientific_name,red_list_category,year_published,assessment_date,population_trend,systems,region,habitat,phylum_name,class_name,Exporter,Origin,Inverted Common Name,Species Group,Historic Range,Listing Status
0,Hexanchus griseus,Near Threatened,2020,2019,Decreasing,Marine,NaN,Global,Vertebrates,Cartilaginous fishes,NaN,NaN,NaN,NaN,NaN,NaN
1,Heosemys annandalii,Critically Endangered,2021,2018,Decreasing,Terrestial & Freshwater,Indomalayan,Global,Vertebrates,Reptiles,NaN,NaN,NaN,NaN,NaN,NaN
2,Hubbsina turneri,Critically Endangered,2019,2018,Decreasing,Freshwater,Neotropical,Global,Vertebrates,Ray-finned fishes,NaN,NaN,NaN,NaN,NaN,NaN
3,Hungerfordia pelewensis,Endangered,2012,2011,Unknown,Terrestrial,Oceanian,Global,Mollusks,Snails & slugs,NaN,NaN,NaN,NaN,NaN,NaN
4,Ictalurus mexicanus,Vulnerable,2019,2018,Unknown,Freshwater,Neotropical,Global,Vertebrates,Ray-finned fishes,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18502,Cercopithecus nictitans,Near Threatened,2020,2016,Decreasing,Terrestrial,Afrotropical,Global,Vertebrates,Mammals,NaN,NaN,NaN,NaN,NaN,NaN
18503,Sapajus cay,Vulnerable,2022,2022,Decreasing,Terrestrial,Neotropical,Global,Vertebrates,Mammals,NaN,NaN,NaN,NaN,NaN,NaN
18504,Plecturocebus vieirai,Critically Endangered,2022,2022,Decreasing,Terrestrial,Neotropical,Global,Vertebrates,Mammals,NaN,NaN,NaN,NaN,NaN,NaN
18505,Mico schneideri,Endangered,2022,2022,Decreasing,Terrestrial,Neotropical,Global,Vertebrates,Mammals,NaN,NaN,NaN,NaN,NaN,NaN
18506,Loxodonta africana,Endangered,2022,2020,Decreasing,Terrestrial,Afrotropical,Global,Vertebrates,Mammals,NaN,NaN,"Elephant, African",Mammals,Africa,T

In [29]:
concat_1['Species Group'].value_counts()

Birds                    150
Mammals                  135
Fishes                    99
Molluscs                  68
Reptiles                  53
Snails & slugs            23
Amphibians                17
Crustaceans               13
Sea anemones & corals      2
Arachnids                  1
Name: Species Group, dtype: int64

In [26]:
concat_1['class_name'].value_counts()

Ray-finned fishes        3968
Amphibians               3015
Snails & slugs           2831
Birds                    2404
Reptiles                 2395
Mammals                  1694
Crustaceans               686
Cartilaginous fishes      471
Sea anemones & corals     457
Arachnids                 274
Molluscs                  272
Sea cucumbers              16
Jellyfishes                11
Octopuses & squids          7
Lobe-finned fish            3
Horseshoe crabs             2
Starfishes                  1
Name: class_name, dtype: int64

In [27]:
def clean_class(x):
    if x in ['Clams']:
        return 'Molluscs'
    elif x in ['Snails']:
        return 'Snails & slugs'
    elif x in ['Corals']:
        return 'Sea anemones & corals'
    else:
        return x

In [28]:
concat_1['Species Group'] = list(map(clean_class, concat_1['Species Group']))

In [30]:
concat_1['merged_class'] = concat_1['class_name'].fillna(concat_1['Species Group'])

In [37]:
concat_1['Historic Range'].value_counts()

Australia                                                                          30
Brazil                                                                             18
U.S.A. (AL)                                                                        16
U.S.A. (CA)                                                                        15
U.S.A. (HI)                                                                        13
                                                                                   ..
Western U.S.A., western Canada                                                      1
Chihuahua,Mexico. Presumed to be extirpated in other States of range and Canada     1
South-central and southeastern Asia                                                 1
Southeast Asia                                                                      1
Africa                                                                              1
Name: Historic Range, Length: 287, dtype: int64

In [36]:
concat_1

,scientific_name,red_list_category,year_published,assessment_date,population_trend,systems,region,habitat,phylum_name,class_name,Exporter,Origin,Inverted Common Name,Species Group,Historic Range,Listing Status,merged_class
0,Hexanchus griseus,Near Threatened,2020,2019,Decreasing,Marine,NaN,Global,Vertebrates,Cartilaginous fishes,NaN,NaN,NaN,NaN,NaN,NaN,Cartilaginous fishes
1,Heosemys annandalii,Critically Endangered,2021,2018,Decreasing,Terrestial & Freshwater,Indomalayan,Global,Vertebrates,Reptiles,NaN,NaN,NaN,NaN,NaN,NaN,Reptiles
2,Hubbsina turneri,Critically Endangered,2019,2018,Decreasing,Freshwater,Neotropical,Global,Vertebrates,Ray-finned fishes,NaN,NaN,NaN,NaN,NaN,NaN,Ray-finned fishes
3,Hungerfordia pelewensis,Endangered,2012,2011,Unknown,Terrestrial,Oceanian,Global,Mollusks,Snails & slugs,NaN,NaN,NaN,NaN,NaN,NaN,Snails & slugs
4,Ictalurus mexicanus,Vulnerable,2019,2018,Unknown,Freshwater,Neotropical,Global,Vertebrates,Ray-finned fishes,NaN,NaN,NaN,NaN,NaN,NaN,Ray-finned fishes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18502,Cercopithecus nictitans,Near Threatened,2020,2016,Decreasing,Terrestrial,Afrotropical,Global,Vertebrates,Mammals,NaN,NaN,NaN,NaN,NaN,NaN,Mammals
18503,Sapajus cay,Vulnerable,2022,2022,Decreasing,Terrestrial,Neotropical,Global,Vertebrates,Mammals,NaN,NaN,NaN,NaN,NaN,NaN,Mammals
18504,Plecturocebus vieirai,Critically Endangered,2022,2022,Decreasing,Terrestrial,Neotropical,Global,Vertebrates,Mammals,NaN,NaN,NaN,NaN,NaN,NaN,Mammals
18505,Mico schneideri,Endangered,2022,2022,Decreasing,Terrestrial,Neotropical,Global,Vertebrates,Mammals,NaN,NaN,NaN,NaN,NaN,NaN,Mammals
18506,Loxodonta africana,Endangered,2022,2020,Decreasing,Terrestrial,Afrotropical,Global,Vertebrates,Mammals,NaN,NaN,"Elephant, African",Mammals,Africa,T,Mammals

In [ ]:
concat_1

In [38]:
sci_names_fish3 = pd.read_excel('sci_names_fish3.xlsx')

In [39]:
sci_names_fish3

,scientific_name,fish_name,iucn_category,Occurrence
0,Acanthemblemaria stephensi,Malpelo barnacle blenny,Vulnerable (VU),CO
1,Aetobatus laticeps,Pacific eagle ray,Vulnerable (VU),CO
2,Aetobatus narinari,Whitespotted eagle ray,Endangered (EN),CO
3,Alopias pelagicus,Pelagic thresher,Endangered (EN),CO
4,Alopias superciliosus,Bigeye thresher,Vulnerable (VU),CO
...,...,...,...,...
1323,Sympterygia acuta,Bignose fanskate,Critically Endangered (CR),UY
1324,Tetronarce puelcha,Argentine torpedo,Critically Endangered (CR),UY
1325,Thunnus maccoyii,Southern bluefin tuna,Endangered (EN),UY
1326,Thunnus obesus,Bigeye tuna,Vulnerable (VU),UY
1327,Zapteryx brevirostris,Lesser guitarfish,Endangered (EN),UY

In [40]:
concat_2 = pd.merge(concat_1, sci_names_fish3, on='scientific_name', how='left')

In [43]:
concat_2

,scientific_name,red_list_category,year_published,assessment_date,population_trend,systems,region,habitat,phylum_name,class_name,Exporter,Origin,Inverted Common Name,Species Group,Historic Range,Listing Status,merged_class,fish_name,iucn_category,Occurrence
0,Hexanchus griseus,Near Threatened,2020,2019,Decreasing,Marine,NaN,Global,Vertebrates,Cartilaginous fishes,NaN,NaN,NaN,NaN,NaN,NaN,Cartilaginous fishes,NaN,NaN,NaN
1,Heosemys annandalii,Critically Endangered,2021,2018,Decreasing,Terrestial & Freshwater,Indomalayan,Global,Vertebrates,Reptiles,NaN,NaN,NaN,NaN,NaN,NaN,Reptiles,NaN,NaN,NaN
2,Hubbsina turneri,Critically Endangered,2019,2018,Decreasing,Freshwater,Neotropical,Global,Vertebrates,Ray-finned fishes,NaN,NaN,NaN,NaN,NaN,NaN,Ray-finned fishes,NaN,NaN,NaN
3,Hungerfordia pelewensis,Endangered,2012,2011,Unknown,Terrestrial,Oceanian,Global,Mollusks,Snails & slugs,NaN,NaN,NaN,NaN,NaN,NaN,Snails & slugs,NaN,NaN,NaN
4,Ictalurus mexicanus,Vulnerable,2019,2018,Unknown,Freshwater,Neotropical,Global,Vertebrates,Ray-finned fishes,NaN,NaN,NaN,NaN,NaN,NaN,Ray-finned fishes,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18846,Cercopithecus nictitans,Near Threatened,2020,2016,Decreasing,Terrestrial,Afrotropical,Global,Vertebrates,Mammals,NaN,NaN,NaN,NaN,NaN,NaN,Mammals,NaN,NaN,NaN
18847,Sapajus cay,Vulnerable,2022,2022,Decreasing,Terrestrial,Neotropical,Global,Vertebrates,Mammals,NaN,NaN,NaN,NaN,NaN,NaN,Mammals,NaN,NaN,NaN
18848,Plecturocebus vieirai,Critically Endangered,2022,2022,Decreasing,Terrestrial,Neotropical,Global,Vertebrates,Mammals,NaN,NaN,NaN,NaN,NaN,NaN,Mammals,NaN,NaN,NaN
18849,Mico schneideri,Endangered,2022,2022,Decreasing,Terrestrial,Neotropical,Global,Vertebrates,Mammals,NaN,NaN,NaN,NaN,NaN,NaN,Mammals,NaN,NaN,NaN
18850,Loxodonta africana,Endangered,2022,2020,Decreasing,Terrestrial,Afrotropical,Global,Vertebrates,Mammals,NaN,NaN,"Elephant, African",Mammals,Africa,T,Mammals,NaN,NaN,NaN

In [44]:
concat_2['merged_names'] = concat_2['fish_name'].fillna(concat_2['Inverted Common Name'])

In [49]:
concat_2['Occurrence'].value_counts()

BRÂ      288
USAÂ     241
COÂ      127
ARÂ       89
CRIÂ      81
VEÂ       75
NIÂ       62
UYÂ       51
HTÂ       29
KYÂ       23
BOÂ       10
GRLÂ       7
Name: Occurrence, dtype: int64

In [50]:
concat_2['Historic Range'].value_counts()

Australia                                                                          30
Brazil                                                                             18
U.S.A. (AL)                                                                        16
U.S.A. (CA)                                                                        15
U.S.A. (HI)                                                                        13
                                                                                   ..
Western U.S.A., western Canada                                                      1
Chihuahua,Mexico. Presumed to be extirpated in other States of range and Canada     1
South-central and southeastern Asia                                                 1
Southeast Asia                                                                      1
Africa                                                                              1
Name: Historic Range, Length: 287, dtype: int64

In [52]:
concat_2['Origin'].value_counts()

XX    5
RS    2
CZ    1
CN    1
ID    1
IN    1
US    1
NO    1
MG    1
DE    1
BR    1
LC    1
BE    1
NL    1
Name: Origin, dtype: int64

In [53]:
concat_2['merged_place'] = concat_2['Exporter'].fillna(concat_2['Origin'])

In [54]:
concat_2['merged_place'].value_counts()

ID    60
MG    40
US    21
AU    18
CN    15
      ..
BS     1
KY     1
AT     1
UG     1
DK     1
Name: merged_place, Length: 63, dtype: int64

In [55]:
concat_2['merged_place2'] = concat_2['Occurrence'].fillna(concat_2['Historic Range'])

In [58]:
concat_2['merged_place_final'] = concat_2['merged_place'].fillna(concat_2['merged_place2'])

In [60]:
concat_2['merged_place_final'].value_counts()

BRÂ                                                         288
USAÂ                                                        237
COÂ                                                         126
ARÂ                                                          89
CRIÂ                                                         80
                                                          ...
South-central and southeastern Asia                          1
Southeast Asia                                               1
Vietnam, Laos, Cambodia, Thailand                            1
U.S.A. (AL, AR, IL, IN, KY, LA, MO, OH, PA, TN, VA, WV)      1
Africa                                                       1
Name: merged_place_final, Length: 311, dtype: int64

In [62]:
concat_2.columns

Index(['scientific_name', 'red_list_category', 'year_published',
       'assessment_date', 'population_trend', 'systems', 'region', 'habitat',
       'phylum_name', 'class_name', 'Exporter', 'Origin',
       'Inverted Common Name', 'Species Group', 'Historic Range',
       'Listing Status', 'merged_class', 'fish_name', 'iucn_category',
       'Occurrence', 'merged_names', 'merged_place', 'merged_place2',
       'merged_place_final'],
      dtype='object')

In [63]:
#dropping columns 
concat_2 = concat_2.drop(['Exporter', 'Origin','Inverted Common Name','Historic Range',
                              'merged_place2', 'merged_place', 'Occurrence'], axis = 1)

concat_2

,scientific_name,red_list_category,year_published,assessment_date,population_trend,systems,region,habitat,phylum_name,class_name,Species Group,Listing Status,merged_class,fish_name,iucn_category,merged_names,merged_place_final
0,Hexanchus griseus,Near Threatened,2020,2019,Decreasing,Marine,NaN,Global,Vertebrates,Cartilaginous fishes,NaN,NaN,Cartilaginous fishes,NaN,NaN,NaN,NaN
1,Heosemys annandalii,Critically Endangered,2021,2018,Decreasing,Terrestial & Freshwater,Indomalayan,Global,Vertebrates,Reptiles,NaN,NaN,Reptiles,NaN,NaN,NaN,NaN
2,Hubbsina turneri,Critically Endangered,2019,2018,Decreasing,Freshwater,Neotropical,Global,Vertebrates,Ray-finned fishes,NaN,NaN,Ray-finned fishes,NaN,NaN,NaN,NaN
3,Hungerfordia pelewensis,Endangered,2012,2011,Unknown,Terrestrial,Oceanian,Global,Mollusks,Snails & slugs,NaN,NaN,Snails & slugs,NaN,NaN,NaN,NaN
4,Ictalurus mexicanus,Vulnerable,2019,2018,Unknown,Freshwater,Neotropical,Global,Vertebrates,Ray-finned fishes,NaN,NaN,Ray-finned fishes,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18846,Cercopithecus nictitans,Near Threatened,2020,2016,Decreasing,Terrestrial,Afrotropical,Global,Vertebrates,Mammals,NaN,NaN,Mammals,NaN,NaN,NaN,NaN
18847,Sapajus cay,Vulnerable,2022,2022,Decreasing,Terrestrial,Neotropical,Global,Vertebrates,Mammals,NaN,NaN,Mammals,NaN,NaN,NaN,NaN
18848,Plecturocebus vieirai,Critically Endangered,2022,2022,Decreasing,Terrestrial,Neotropical,Global,Vertebrates,Mammals,NaN,NaN,Mammals,NaN,NaN,NaN,NaN
18849,Mico schneideri,Endangered,2022,2022,Decreasing,Terrestrial,Neotropical,Global,Vertebrates,Mammals,NaN,NaN,Mammals,NaN,NaN,NaN,NaN
18850,Loxodonta africana,Endangered,2022,2020,Decreasing,Terrestrial,Afrotropical,Global,Vertebrates,Mammals,Mammals,T,Mammals,NaN,NaN,"Elephant, African",Africa

In [64]:
sci_names_fish = pd.read_excel('sci_names_fish.xlsx')

In [65]:
sci_names_fish

                   Species            English name
0           Ablennes hians         Flat needlefish
1           Ablennes hians         Flat needlefish
2            Abramis brama        Freshwater bream
3      Abudefduf saxatilis          Sergeant-major
4     Abudefduf troschelii  Panamic sergeant major
...                    ...                     ...
3076     Zoarces viviparus                 Eelpout
3077     Zoarces viviparus                 Eelpout
3078     Zoarces viviparus                 Eelpout
3079          Zu cristatus    Scalloped ribbonfish
3080       Zungaro zungaro          Gilded catfish

[3081 rows x 2 columns]

In [66]:
def rename_columns_df(x):
    x.rename(columns={'Species':'scientific_name'}, inplace=True )
    return x

In [67]:
sci_names_fish = rename_columns_df(sci_names_fish)

In [68]:
sci_names_fish

           scientific_name            English name
0           Ablennes hians         Flat needlefish
1           Ablennes hians         Flat needlefish
2            Abramis brama        Freshwater bream
3      Abudefduf saxatilis          Sergeant-major
4     Abudefduf troschelii  Panamic sergeant major
...                    ...                     ...
3076     Zoarces viviparus                 Eelpout
3077     Zoarces viviparus                 Eelpout
3078     Zoarces viviparus                 Eelpout
3079          Zu cristatus    Scalloped ribbonfish
3080       Zungaro zungaro          Gilded catfish

[3081 rows x 2 columns]

In [69]:
concat_3 = pd.merge(concat_2, sci_names_fish, on='scientific_name', how='left')

In [74]:
concat_3['merged_names'].value_counts()

Whale sharkÂ          30
Ocean sunfishÂ        27
American eelÂ         24
Bull sharkÂ           20
Giant mantaÂ          16
                     ..
Peppered chubÂ         1
Ouachita madtomÂ       1
Palezone shinerÂ       1
Peppered shinerÂ       1
Elephant, African     1
Name: merged_names, Length: 788, dtype: int64

In [75]:
concat_3['merged_names_2'] = concat_3['merged_names'].fillna(concat_3['English name'])

In [80]:
concat_3

,scientific_name,red_list_category,year_published,assessment_date,population_trend,systems,region,habitat,phylum_name,class_name,Species Group,Listing Status,merged_class,fish_name,iucn_category,merged_names,merged_place_final,English name,merged_names_2
0,Hexanchus griseus,Near Threatened,2020,2019,Decreasing,Marine,NaN,Global,Vertebrates,Cartilaginous fishes,NaN,NaN,Cartilaginous fishes,NaN,NaN,NaN,NaN,NaN,NaN
1,Heosemys annandalii,Critically Endangered,2021,2018,Decreasing,Terrestial & Freshwater,Indomalayan,Global,Vertebrates,Reptiles,NaN,NaN,Reptiles,NaN,NaN,NaN,NaN,NaN,NaN
2,Hubbsina turneri,Critically Endangered,2019,2018,Decreasing,Freshwater,Neotropical,Global,Vertebrates,Ray-finned fishes,NaN,NaN,Ray-finned fishes,NaN,NaN,NaN,NaN,NaN,NaN
3,Hungerfordia pelewensis,Endangered,2012,2011,Unknown,Terrestrial,Oceanian,Global,Mollusks,Snails & slugs,NaN,NaN,Snails & slugs,NaN,NaN,NaN,NaN,NaN,NaN
4,Ictalurus mexicanus,Vulnerable,2019,2018,Unknown,Freshwater,Neotropical,Global,Vertebrates,Ray-finned fishes,NaN,NaN,Ray-finned fishes,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19031,Cercopithecus nictitans,Near Threatened,2020,2016,Decreasing,Terrestrial,Afrotropical,Global,Vertebrates,Mammals,NaN,NaN,Mammals,NaN,NaN,NaN,NaN,NaN,NaN
19032,Sapajus cay,Vulnerable,2022,2022,Decreasing,Terrestrial,Neotropical,Global,Vertebrates,Mammals,NaN,NaN,Mammals,NaN,NaN,NaN,NaN,NaN,NaN
19033,Plecturocebus vieirai,Critically Endangered,2022,2022,Decreasing,Terrestrial,Neotropical,Global,Vertebrates,Mammals,NaN,NaN,Mammals,NaN,NaN,NaN,NaN,NaN,NaN
19034,Mico schneideri,Endangered,2022,2022,Decreasing,Terrestrial,Neotropical,Global,Vertebrates,Mammals,NaN,NaN,Mammals,NaN,NaN,NaN,NaN,NaN,NaN
19035,Loxodonta africana,Endangered,2022,2020,Decreasing,Terrestrial,Afrotropical,Global,Vertebrates,Mammals,Mammals,T,Mammals,NaN,NaN,"Elephant, African",Africa,NaN,"Elephant, African"

In [81]:
#dropping columns 
concat_3= concat_3.drop(['fish_name', 'merged_names','English name'], axis = 1)

concat_3

,scientific_name,red_list_category,year_published,assessment_date,population_trend,systems,region,habitat,phylum_name,class_name,Species Group,Listing Status,merged_class,iucn_category,merged_place_final,merged_names_2
0,Hexanchus griseus,Near Threatened,2020,2019,Decreasing,Marine,NaN,Global,Vertebrates,Cartilaginous fishes,NaN,NaN,Cartilaginous fishes,NaN,NaN,NaN
1,Heosemys annandalii,Critically Endangered,2021,2018,Decreasing,Terrestial & Freshwater,Indomalayan,Global,Vertebrates,Reptiles,NaN,NaN,Reptiles,NaN,NaN,NaN
2,Hubbsina turneri,Critically Endangered,2019,2018,Decreasing,Freshwater,Neotropical,Global,Vertebrates,Ray-finned fishes,NaN,NaN,Ray-finned fishes,NaN,NaN,NaN
3,Hungerfordia pelewensis,Endangered,2012,2011,Unknown,Terrestrial,Oceanian,Global,Mollusks,Snails & slugs,NaN,NaN,Snails & slugs,NaN,NaN,NaN
4,Ictalurus mexicanus,Vulnerable,2019,2018,Unknown,Freshwater,Neotropical,Global,Vertebrates,Ray-finned fishes,NaN,NaN,Ray-finned fishes,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19031,Cercopithecus nictitans,Near Threatened,2020,2016,Decreasing,Terrestrial,Afrotropical,Global,Vertebrates,Mammals,NaN,NaN,Mammals,NaN,NaN,NaN
19032,Sapajus cay,Vulnerable,2022,2022,Decreasing,Terrestrial,Neotropical,Global,Vertebrates,Mammals,NaN,NaN,Mammals,NaN,NaN,NaN
19033,Plecturocebus vieirai,Critically Endangered,2022,2022,Decreasing,Terrestrial,Neotropical,Global,Vertebrates,Mammals,NaN,NaN,Mammals,NaN,NaN,NaN
19034,Mico schneideri,Endangered,2022,2022,Decreasing,Terrestrial,Neotropical,Global,Vertebrates,Mammals,NaN,NaN,Mammals,NaN,NaN,NaN
19035,Loxodonta africana,Endangered,2022,2020,Decreasing,Terrestrial,Afrotropical,Global,Vertebrates,Mammals,Mammals,T,Mammals,NaN,Africa,"Elephant, African"

In [98]:
concat_3.to_csv('savedfornow.csv')

In [99]:
sci_name_us

,common_name,scientific_name,Species Group,Historic Range,Listing Status
0,"Abalone, Black",Haliotis cracherodii,Snails & slugs,NaN,E
1,"Abalone, White",Haliotis sorenseni,Snails & slugs,Mexico,E
2,"Acornshell, southern",Epioblasma othcaloogensis,Molluscs,"U.S.A. (AL, GA, TN)",E
3,Addax,Addax nasomaculatus,Mammals,North Africa,E
4,"Adjutant, greater",Leptoptilos dubius,Birds,NaN,E
...,...,...,...,...,...
1253,"Zebra, Grevy's",Equus grevyi,Mammals,"Kenya, Ethiopia, Somalia",T
1254,"Zebra, Hartmann's mountain",Equus zebra hartmannae,Mammals,"Namibia, Angola",T
1255,"Zebra, mountain",Equus zebra zebra,Mammals,South Africa,E
1256,"`O`o, Kauai (honeyeater)",Moho braccatus,Birds,U.S.A. (HI),E
1257,`O`u (honeycreeper),Psittirostra psittacea,Birds,U.S.A. (HI),E

In [100]:
concat_3

,scientific_name,red_list_category,year_published,assessment_date,population_trend,systems,region,habitat,phylum_name,class_name,Species Group,Listing Status,merged_class,iucn_category,merged_place_final,merged_names_2
0,Hexanchus griseus,Near Threatened,2020,2019,Decreasing,Marine,NaN,Global,Vertebrates,Cartilaginous fishes,NaN,NaN,Cartilaginous fishes,NaN,NaN,NaN
1,Heosemys annandalii,Critically Endangered,2021,2018,Decreasing,Terrestial & Freshwater,Indomalayan,Global,Vertebrates,Reptiles,NaN,NaN,Reptiles,NaN,NaN,NaN
2,Hubbsina turneri,Critically Endangered,2019,2018,Decreasing,Freshwater,Neotropical,Global,Vertebrates,Ray-finned fishes,NaN,NaN,Ray-finned fishes,NaN,NaN,NaN
3,Hungerfordia pelewensis,Endangered,2012,2011,Unknown,Terrestrial,Oceanian,Global,Mollusks,Snails & slugs,NaN,NaN,Snails & slugs,NaN,NaN,NaN
4,Ictalurus mexicanus,Vulnerable,2019,2018,Unknown,Freshwater,Neotropical,Global,Vertebrates,Ray-finned fishes,NaN,NaN,Ray-finned fishes,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19031,Cercopithecus nictitans,Near Threatened,2020,2016,Decreasing,Terrestrial,Afrotropical,Global,Vertebrates,Mammals,NaN,NaN,Mammals,NaN,NaN,NaN
19032,Sapajus cay,Vulnerable,2022,2022,Decreasing,Terrestrial,Neotropical,Global,Vertebrates,Mammals,NaN,NaN,Mammals,NaN,NaN,NaN
19033,Plecturocebus vieirai,Critically Endangered,2022,2022,Decreasing,Terrestrial,Neotropical,Global,Vertebrates,Mammals,NaN,NaN,Mammals,NaN,NaN,NaN
19034,Mico schneideri,Endangered,2022,2022,Decreasing,Terrestrial,Neotropical,Global,Vertebrates,Mammals,NaN,NaN,Mammals,NaN,NaN,NaN
19035,Loxodonta africana,Endangered,2022,2020,Decreasing,Terrestrial,Afrotropical,Global,Vertebrates,Mammals,Mammals,T,Mammals,NaN,Africa,"Elephant, African"

In [118]:
concat_4 = pd.merge(concat_3, sci_name_us, on='scientific_name', how='left')

In [119]:
concat_4

,scientific_name,red_list_category,year_published,assessment_date,population_trend,systems,region,habitat,phylum_name,class_name,Species Group_x,Listing Status_x,merged_class,iucn_category,merged_place_final,merged_names_2,common_name,Species Group_y,Historic Range,Listing Status_y
0,Hexanchus griseus,Near Threatened,2020,2019,Decreasing,Marine,NaN,Global,Vertebrates,Cartilaginous fishes,NaN,NaN,Cartilaginous fishes,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Heosemys annandalii,Critically Endangered,2021,2018,Decreasing,Terrestial & Freshwater,Indomalayan,Global,Vertebrates,Reptiles,NaN,NaN,Reptiles,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Hubbsina turneri,Critically Endangered,2019,2018,Decreasing,Freshwater,Neotropical,Global,Vertebrates,Ray-finned fishes,NaN,NaN,Ray-finned fishes,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Hungerfordia pelewensis,Endangered,2012,2011,Unknown,Terrestrial,Oceanian,Global,Mollusks,Snails & slugs,NaN,NaN,Snails & slugs,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Ictalurus mexicanus,Vulnerable,2019,2018,Unknown,Freshwater,Neotropical,Global,Vertebrates,Ray-finned fishes,NaN,NaN,Ray-finned fishes,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19055,Cercopithecus nictitans,Near Threatened,2020,2016,Decreasing,Terrestrial,Afrotropical,Global,Vertebrates,Mammals,NaN,NaN,Mammals,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19056,Sapajus cay,Vulnerable,2022,2022,Decreasing,Terrestrial,Neotropical,Global,Vertebrates,Mammals,NaN,NaN,Mammals,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19057,Plecturocebus vieirai,Critically Endangered,2022,2022,Decreasing,Terrestrial,Neotropical,Global,Vertebrates,Mammals,NaN,NaN,Mammals,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19058,Mico schneideri,Endangered,2022,2022,Decreasing,Terrestrial,Neotropical,Global,Vertebrates,Mammals,NaN,NaN,Mammals,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19059,Loxodonta africana,Endangered,2022,2020,Decreasing,Terrestrial,Afrotropical,Global,Vertebrates,Mammals,Mammals,T,Mammals,NaN,Africa,"Elephant, African","Elephant, African",Mammals,Africa,T

In [120]:
concat_4['Species Group_y'].value_counts()

Birds                    152
Mammals                  143
Fishes                   102
Molluscs                  68
Reptiles                  61
Snails & slugs            23
Amphibians                23
Crustaceans               13
Sea anemones & corals      2
Arachnids                  1
Name: Species Group_y, dtype: int64

In [125]:
concat_4['merged_class'].value_counts()

Ray-finned fishes        4198
Amphibians               3021
Snails & slugs           2831
Birds                    2406
Reptiles                 2403
Mammals                  1702
Cartilaginous fishes      770
Crustaceans               686
Sea anemones & corals     457
Arachnids                 274
Molluscs                  272
Sea cucumbers              16
Jellyfishes                11
Octopuses & squids          7
Lobe-finned fish            3
Horseshoe crabs             2
Starfishes                  1
Name: merged_class, dtype: int64

In [126]:
concat_4['merged_class_5'] = concat_4['merged_class'].fillna(concat_4['Species Group_y'])

In [129]:
concat_4['merged_class_5'].value_counts()

Ray-finned fishes        4198
Amphibians               3021
Snails & slugs           2831
Birds                    2406
Reptiles                 2403
Mammals                  1702
Cartilaginous fishes      770
Crustaceans               686
Sea anemones & corals     457
Arachnids                 274
Molluscs                  272
Sea cucumbers              16
Jellyfishes                11
Octopuses & squids          7
Lobe-finned fish            3
Horseshoe crabs             2
Starfishes                  1
Name: merged_class_5, dtype: int64

In [122]:
concat_4['Species Group_y'].value_counts()

Birds                    152
Mammals                  143
Fishes                   102
Molluscs                  68
Reptiles                  61
Snails & slugs            23
Amphibians                23
Crustaceans               13
Sea anemones & corals      2
Arachnids                  1
Name: Species Group_y, dtype: int64

In [108]:
concat_4 = concat_4[concat_4["Species Group_y"].str.contains('Insects') == False]

In [127]:
concat_4['merged_class_5'].isna().sum()

0

In [133]:
concat_4['red_list_category'].value_counts()

Vulnerable               6207
Endangered               5233
Near Threatened          4113
Critically Endangered    3445
Extinct in the Wild        38
Regionally Extinct         24
Name: red_list_category, dtype: int64

In [134]:
def clean_categ(x):
    if x in ['E']:
        return 'Endangered'
    elif x in ['T']:
        return 'Critically Endangered'
    else:
        return x

In [136]:
concat_4['Listing Status_y'] = list(map(clean_categ, concat_4['Listing Status_y']))

In [138]:
concat_4['red_list_category'].value_counts()

Vulnerable               6207
Endangered               5233
Near Threatened          4113
Critically Endangered    3445
Extinct in the Wild        38
Regionally Extinct         24
Name: red_list_category, dtype: int64

In [139]:
concat_4['Listing Status_y'].value_counts()

Endangered               468
Critically Endangered    120
Name: Listing Status_y, dtype: int64

In [140]:
concat_4['merged_categ'] = concat_4['red_list_category'].fillna(concat_4['Listing Status_y'])

In [141]:
concat_4['merged_categ'].value_counts()

Vulnerable               6207
Endangered               5233
Near Threatened          4113
Critically Endangered    3445
Extinct in the Wild        38
Regionally Extinct         24
Name: merged_categ, dtype: int64

In [142]:
concat_4

,scientific_name,red_list_category,year_published,assessment_date,population_trend,systems,region,habitat,phylum_name,class_name,...,merged_class,iucn_category,merged_place_final,merged_names_2,common_name,Species Group_y,Historic Range,Listing Status_y,merged_class_5,merged_categ
0,Hexanchus griseus,Near Threatened,2020,2019,Decreasing,Marine,NaN,Global,Vertebrates,Cartilaginous fishes,...,Cartilaginous fishes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cartilaginous fishes,Near Threatened
1,Heosemys annandalii,Critically Endangered,2021,2018,Decreasing,Terrestial & Freshwater,Indomalayan,Global,Vertebrates,Reptiles,...,Reptiles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Reptiles,Critically Endangered
2,Hubbsina turneri,Critically Endangered,2019,2018,Decreasing,Freshwater,Neotropical,Global,Vertebrates,Ray-finned fishes,...,Ray-finned fishes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ray-finned fishes,Critically Endangered
3,Hungerfordia pelewensis,Endangered,2012,2011,Unknown,Terrestrial,Oceanian,Global,Mollusks,Snails & slugs,...,Snails & slugs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Snails & slugs,Endangered
4,Ictalurus mexicanus,Vulnerable,2019,2018,Unknown,Freshwater,Neotropical,Global,Vertebrates,Ray-finned fishes,...,Ray-finned fishes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ray-finned fishes,Vulnerable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19055,Cercopithecus nictitans,Near Threatened,2020,2016,Decreasing,Terrestrial,Afrotropical,Global,Vertebrates,Mammals,...,Mammals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mammals,Near Threatened
19056,Sapajus cay,Vulnerable,2022,2022,Decreasing,Terrestrial,Neotropical,Global,Vertebrates,Mammals,...,Mammals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mammals,Vulnerable
19057,Plecturocebus vieirai,Critically Endangered,2022,2022,Decreasing,Terrestrial,Neotropical,Global,Vertebrates,Mammals,...,Mammals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mammals,Critically Endangered
19058,Mico schneideri,Endangered,2022,2022,Decreasing,Terrestrial,Neotropical,Global,Vertebrates,Mammals,...,Mammals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mammals,Endangered
19059,Loxodonta africana,Endangered,2022,2020,Decreasing,Terrestrial,Afrotropical,Global,Vertebrates,Mammals,...,Mammals,NaN,Africa,"Elephant, African","Elephant, African",Mammals,Africa,Critically Endangered,Mammals,Endangered

In [144]:
#dropping columns 
concat_4= concat_4.drop(['Listing Status_y','merged_categ'], axis = 1)

concat_4

,scientific_name,red_list_category,year_published,assessment_date,population_trend,systems,region,habitat,phylum_name,class_name,Species Group_x,Listing Status_x,merged_class,iucn_category,merged_place_final,merged_names_2,common_name,Species Group_y,Historic Range,merged_class_5
0,Hexanchus griseus,Near Threatened,2020,2019,Decreasing,Marine,NaN,Global,Vertebrates,Cartilaginous fishes,NaN,NaN,Cartilaginous fishes,NaN,NaN,NaN,NaN,NaN,NaN,Cartilaginous fishes
1,Heosemys annandalii,Critically Endangered,2021,2018,Decreasing,Terrestial & Freshwater,Indomalayan,Global,Vertebrates,Reptiles,NaN,NaN,Reptiles,NaN,NaN,NaN,NaN,NaN,NaN,Reptiles
2,Hubbsina turneri,Critically Endangered,2019,2018,Decreasing,Freshwater,Neotropical,Global,Vertebrates,Ray-finned fishes,NaN,NaN,Ray-finned fishes,NaN,NaN,NaN,NaN,NaN,NaN,Ray-finned fishes
3,Hungerfordia pelewensis,Endangered,2012,2011,Unknown,Terrestrial,Oceanian,Global,Mollusks,Snails & slugs,NaN,NaN,Snails & slugs,NaN,NaN,NaN,NaN,NaN,NaN,Snails & slugs
4,Ictalurus mexicanus,Vulnerable,2019,2018,Unknown,Freshwater,Neotropical,Global,Vertebrates,Ray-finned fishes,NaN,NaN,Ray-finned fishes,NaN,NaN,NaN,NaN,NaN,NaN,Ray-finned fishes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19055,Cercopithecus nictitans,Near Threatened,2020,2016,Decreasing,Terrestrial,Afrotropical,Global,Vertebrates,Mammals,NaN,NaN,Mammals,NaN,NaN,NaN,NaN,NaN,NaN,Mammals
19056,Sapajus cay,Vulnerable,2022,2022,Decreasing,Terrestrial,Neotropical,Global,Vertebrates,Mammals,NaN,NaN,Mammals,NaN,NaN,NaN,NaN,NaN,NaN,Mammals
19057,Plecturocebus vieirai,Critically Endangered,2022,2022,Decreasing,Terrestrial,Neotropical,Global,Vertebrates,Mammals,NaN,NaN,Mammals,NaN,NaN,NaN,NaN,NaN,NaN,Mammals
19058,Mico schneideri,Endangered,2022,2022,Decreasing,Terrestrial,Neotropical,Global,Vertebrates,Mammals,NaN,NaN,Mammals,NaN,NaN,NaN,NaN,NaN,NaN,Mammals
19059,Loxodonta africana,Endangered,2022,2020,Decreasing,Terrestrial,Afrotropical,Global,Vertebrates,Mammals,Mammals,T,Mammals,NaN,Africa,"Elephant, African","Elephant, African",Mammals,Africa,Mammals

In [157]:
concat_4['iucn_category'].value_counts()

Vulnerable (VU)Â                602
Endangered (EN)Â                402
Critically Endangered (CR)Â     206
Name: iucn_category, dtype: int64

In [61]:
def clean_categ_1(x):
    if x in ['Endangered (EN)']:
        return 'Endangered'
    elif x in ['Vulnerable (VU)']:
        return 'Vulnerable'
    elif x in ['Critically Endangered (CR)']:
        return 'Critically Endangered'
    else:
        return x

In [62]:
concat_5['iucn_category'] = list(map(clean_categ_1, concat_5['iucn_category']))

In [63]:
concat_5['iucn_category'].value_counts()

Vulnerable (VU)Â                603
Endangered (EN)Â                402
Critically Endangered (CR)Â     206
Name: iucn_category, dtype: int64

In [158]:
concat_4.to_csv('sundayfunday.csv')

In [2]:
concat_4 = pd.read_csv('sundayfunday.csv')

In [6]:
fl_df = pd.read_excel('flo_names.xlsx')

In [7]:
fl_df

,Status,common_name,scientific_name,origin
0,T,"Bankclimber, purple",(Elliptoideus sloatianus),FL
1,E,"Bat, gray",(Myotis grisescens),FL
2,E,"Butterfly, Schaus swallowtail",(Heraclides aristodemus ponceanus),FL
3,T,"Caracara, Audubon's crested FL pop.",(Polyborus plancus audubonii),FL
4,T,"Coral, elkhorn",(Acropora palmata),FL
...,...,...,...,...
88,E,"Three-ridge, fat",(Amblema neislerii),GA
89,E,"Whale, finback",(Balaenoptera physalus),GA
90,E,"Whale, humpback",(Megaptera novaeangliae),GA
91,E,"Whale, North Atlantic Right",(Eubalaena glacialis),GA
92,E,"Woodpecker, red-cockaded",(Picoides borealis),GA

In [9]:
concat_4['merged_place_final'].value_counts()

BRÂ                                                         298
USAÂ                                                        269
COÂ                                                         135
ARÂ                                                          98
CRIÂ                                                         89
                                                          ...
South-central and southeastern Asia                          1
Southeast Asia                                               1
Vietnam, Laos, Cambodia, Thailand                            1
U.S.A. (AL, AR, IL, IN, KY, LA, MO, OH, PA, TN, VA, WV)      1
Africa                                                       1
Name: merged_place_final, Length: 311, dtype: int64

In [13]:
concat_4['Historic Range'].value_counts()

Australia                             30
U.S.A. (CA)                           21
Brazil                                18
U.S.A. (AL)                           16
U.S.A. (AL, GA, TN)                   13
                                      ..
Bangladesh, Southeast Asia, India      1
Venezuela and Guyana to Argentina      1
Somalia, Ethiopia                      1
Sierra Leone, Liberia, Ivory Coast     1
Africa                                 1
Name: Historic Range, Length: 284, dtype: int64

In [ ]:
concat_4 = pd.merge(concat_3, sci_name_us, on='scientific_name', how='left')

In [15]:
concat_4['merged_country'] = concat_4['merged_place_final'].fillna(concat_4['Historic Range'])

In [16]:
concat_4['merged_country'].value_counts()

BRÂ                                                         298
USAÂ                                                        269
COÂ                                                         135
ARÂ                                                          98
CRIÂ                                                         89
                                                          ...
U.S.A. (AL, AR, IL, IN, KY, LA, MO, OH, PA, TN, VA, WV)      1
Somalia, Ethiopia                                            1
Sierra Leone, Liberia, Ivory Coast                           1
LR                                                           1
Africa                                                       1
Name: merged_country, Length: 311, dtype: int64

In [26]:
fl_df['scientific_name'] = fl_df['scientific_name'].str.replace(r'\(|\)', '')
#code to remove parentheses from the column

C:\Users\Monika\AppData\Local\Temp\ipykernel_29448\986080667.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  fl_df['scientific_name'] = fl_df['scientific_name'].str.replace(r'\(|\)', '')

In [25]:
fl_df

,Status,common_name,scientific_name,origin
0,T,"Bankclimber, purple",Elliptoideus sloatianus,FL
1,E,"Bat, gray",Myotis grisescens,FL
2,E,"Butterfly, Schaus swallowtail",Heraclides aristodemus ponceanus,FL
3,T,"Caracara, Audubon's crested FL pop.",Polyborus plancus audubonii,FL
4,T,"Coral, elkhorn",Acropora palmata,FL
...,...,...,...,...
88,E,"Three-ridge, fat",Amblema neislerii,GA
89,E,"Whale, finback",Balaenoptera physalus,GA
90,E,"Whale, humpback",Megaptera novaeangliae,GA
91,E,"Whale, North Atlantic Right",Eubalaena glacialis,GA
92,E,"Woodpecker, red-cockaded",Picoides borealis,GA

In [27]:
concat_5 = pd.merge(concat_4, fl_df, on='scientific_name', how='left')

In [30]:
concat_5['origin'].value_counts()

GA    36
FL    33
Name: origin, dtype: int64

In [31]:
concat_5['merged_country'].value_counts()

BRÂ                                     298
USAÂ                                    269
COÂ                                     135
ARÂ                                      98
CRIÂ                                     89
                                      ...
Arabian Peninsula, Palestine, Sinai      1
China, India, Nepal                      1
Pakistan (Indus R. and tributaries)      1
U.S.A. (CA), Mexico.                     1
Africa                                   1
Name: merged_country, Length: 311, dtype: int64

In [46]:
concat_5['merged_country_2'] = concat_5['merged_country'].fillna(concat_5['origin'])

In [47]:
concat_5['merged_country_2'].value_counts()

BRÂ                                     298
USAÂ                                    269
COÂ                                     135
ARÂ                                      98
CRIÂ                                     89
                                      ...
Arabian Peninsula, Palestine, Sinai      1
China, India, Nepal                      1
Pakistan (Indus R. and tributaries)      1
U.S.A. (CA), Mexico.                     1
Africa                                   1
Name: merged_country_2, Length: 313, dtype: int64

In [56]:
concat_5

,scientific_name,red_list_category,year_published,assessment_date,population_trend,systems,region,habitat,phylum_name,class_name,...,iucn_category,merged_place_final,merged_names_2,common_name_x,Species Group_y,merged_class_5,Status,common_name_y,merged_country_2,commons
0,Hexanchus griseus,Near Threatened,2020,2019,Decreasing,Marine,NaN,Global,Vertebrates,Cartilaginous fishes,...,NaN,NaN,NaN,NaN,NaN,Cartilaginous fishes,NaN,NaN,NaN,NaN
1,Heosemys annandalii,Critically Endangered,2021,2018,Decreasing,Terrestial & Freshwater,Indomalayan,Global,Vertebrates,Reptiles,...,NaN,NaN,NaN,NaN,NaN,Reptiles,NaN,NaN,NaN,NaN
2,Hubbsina turneri,Critically Endangered,2019,2018,Decreasing,Freshwater,Neotropical,Global,Vertebrates,Ray-finned fishes,...,NaN,NaN,NaN,NaN,NaN,Ray-finned fishes,NaN,NaN,NaN,NaN
3,Hungerfordia pelewensis,Endangered,2012,2011,Unknown,Terrestrial,Oceanian,Global,Mollusks,Snails & slugs,...,NaN,NaN,NaN,NaN,NaN,Snails & slugs,NaN,NaN,NaN,NaN
4,Ictalurus mexicanus,Vulnerable,2019,2018,Unknown,Freshwater,Neotropical,Global,Vertebrates,Ray-finned fishes,...,NaN,NaN,NaN,NaN,NaN,Ray-finned fishes,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19075,Cercopithecus nictitans,Near Threatened,2020,2016,Decreasing,Terrestrial,Afrotropical,Global,Vertebrates,Mammals,...,NaN,NaN,NaN,NaN,NaN,Mammals,NaN,NaN,NaN,NaN
19076,Sapajus cay,Vulnerable,2022,2022,Decreasing,Terrestrial,Neotropical,Global,Vertebrates,Mammals,...,NaN,NaN,NaN,NaN,NaN,Mammals,NaN,NaN,NaN,NaN
19077,Plecturocebus vieirai,Critically Endangered,2022,2022,Decreasing,Terrestrial,Neotropical,Global,Vertebrates,Mammals,...,NaN,NaN,NaN,NaN,NaN,Mammals,NaN,NaN,NaN,NaN
19078,Mico schneideri,Endangered,2022,2022,Decreasing,Terrestrial,Neotropical,Global,Vertebrates,Mammals,...,NaN,NaN,NaN,NaN,NaN,Mammals,NaN,NaN,NaN,NaN
19079,Loxodonta africana,Endangered,2022,2020,Decreasing,Terrestrial,Afrotropical,Global,Vertebrates,Mammals,...,NaN,Africa,"Elephant, African","Elephant, African",Mammals,Mammals,NaN,NaN,Africa,"Elephant, African"

In [39]:
unique_strings = concat_5['merged_country_2'].nunique()  # Replace 'your_column' with the actual column name
print("Number of unique strings:", unique_strings)

Number of unique strings: 313

In [40]:
concat_5.to_csv('sundayfunday2.csv')

In [42]:
concat_5['merged_class_5'].value_counts()

Ray-finned fishes        4199
Amphibians               3022
Snails & slugs           2831
Reptiles                 2414
Birds                    2406
Mammals                  1704
Cartilaginous fishes      770
Crustaceans               686
Sea anemones & corals     457
Molluscs                  277
Arachnids                 274
Sea cucumbers              16
Jellyfishes                11
Octopuses & squids          7
Lobe-finned fish            3
Horseshoe crabs             2
Starfishes                  1
Name: merged_class_5, dtype: int64

In [51]:
concat_5['common_name_x'].value_counts()

Salamander, California tiger    9
Sea turtle, green               8
Sea turtle, loggerhead          8
Salmon, Atlantic                5
Sea turtle, olive ridley        4
                               ..
Cavefish, Alabama               1
Shiner, Arkansas River          1
Darter, snail                   1
Darter, leopard                 1
Elephant, African               1
Name: common_name_x, Length: 505, dtype: int64

In [52]:
concat_5['commons'] = concat_5['common_name_x'].fillna(concat_5['common_name_y'])

In [54]:
concat_5['commons'].value_counts()

Salamander, California tiger    9
Sea turtle, green               8
Sea turtle, loggerhead          8
Salmon, Atlantic                5
Sea turtle, olive ridley        4
                               ..
Cavefish, Alabama               1
Shiner, Arkansas River          1
Darter, snail                   1
Darter, leopard                 1
Elephant, African               1
Name: commons, Length: 505, dtype: int64

In [49]:
#dropping columns 
concat_5= concat_5.drop(['Historic Range','merged_country','origin','Unnamed: 0'], axis = 1)

concat_5

,scientific_name,red_list_category,year_published,assessment_date,population_trend,systems,region,habitat,phylum_name,class_name,...,merged_class,iucn_category,merged_place_final,merged_names_2,common_name_x,Species Group_y,merged_class_5,Status,common_name_y,merged_country_2
0,Hexanchus griseus,Near Threatened,2020,2019,Decreasing,Marine,NaN,Global,Vertebrates,Cartilaginous fishes,...,Cartilaginous fishes,NaN,NaN,NaN,NaN,NaN,Cartilaginous fishes,NaN,NaN,NaN
1,Heosemys annandalii,Critically Endangered,2021,2018,Decreasing,Terrestial & Freshwater,Indomalayan,Global,Vertebrates,Reptiles,...,Reptiles,NaN,NaN,NaN,NaN,NaN,Reptiles,NaN,NaN,NaN
2,Hubbsina turneri,Critically Endangered,2019,2018,Decreasing,Freshwater,Neotropical,Global,Vertebrates,Ray-finned fishes,...,Ray-finned fishes,NaN,NaN,NaN,NaN,NaN,Ray-finned fishes,NaN,NaN,NaN
3,Hungerfordia pelewensis,Endangered,2012,2011,Unknown,Terrestrial,Oceanian,Global,Mollusks,Snails & slugs,...,Snails & slugs,NaN,NaN,NaN,NaN,NaN,Snails & slugs,NaN,NaN,NaN
4,Ictalurus mexicanus,Vulnerable,2019,2018,Unknown,Freshwater,Neotropical,Global,Vertebrates,Ray-finned fishes,...,Ray-finned fishes,NaN,NaN,NaN,NaN,NaN,Ray-finned fishes,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19075,Cercopithecus nictitans,Near Threatened,2020,2016,Decreasing,Terrestrial,Afrotropical,Global,Vertebrates,Mammals,...,Mammals,NaN,NaN,NaN,NaN,NaN,Mammals,NaN,NaN,NaN
19076,Sapajus cay,Vulnerable,2022,2022,Decreasing,Terrestrial,Neotropical,Global,Vertebrates,Mammals,...,Mammals,NaN,NaN,NaN,NaN,NaN,Mammals,NaN,NaN,NaN
19077,Plecturocebus vieirai,Critically Endangered,2022,2022,Decreasing,Terrestrial,Neotropical,Global,Vertebrates,Mammals,...,Mammals,NaN,NaN,NaN,NaN,NaN,Mammals,NaN,NaN,NaN
19078,Mico schneideri,Endangered,2022,2022,Decreasing,Terrestrial,Neotropical,Global,Vertebrates,Mammals,...,Mammals,NaN,NaN,NaN,NaN,NaN,Mammals,NaN,NaN,NaN
19079,Loxodonta africana,Endangered,2022,2020,Decreasing,Terrestrial,Afrotropical,Global,Vertebrates,Mammals,...,Mammals,NaN,Africa,"Elephant, African","Elephant, African",Mammals,Mammals,NaN,NaN,Africa

In [57]:
concat_5['class_name'].value_counts()

Ray-finned fishes        4199
Amphibians               3022
Snails & slugs           2831
Reptiles                 2414
Birds                    2406
Mammals                  1704
Cartilaginous fishes      770
Crustaceans               686
Sea anemones & corals     457
Molluscs                  277
Arachnids                 274
Sea cucumbers              16
Jellyfishes                11
Octopuses & squids          7
Lobe-finned fish            3
Horseshoe crabs             2
Starfishes                  1
Name: class_name, dtype: int64

In [65]:
concat_5['iucn_category'].value_counts()

Vulnerable (VU)Â                603
Endangered (EN)Â                402
Critically Endangered (CR)Â     206
Name: iucn_category, dtype: int64

In [64]:
concat_5['iucn_category'] = concat_5['iucn_category'].apply(clean_categ_1)

In [70]:
#dropping columns 
concat_5= concat_5.drop(['Listing Status_x','iucn_category'], axis = 1)

concat_5

,scientific_name,red_list_category,assessment_date,population_trend,systems,region,habitat,phylum_name,class_name,Species Group_x,merged_place_final,merged_names_2,Species Group_y,merged_class_5,Status,merged_country_2,commons
0,Hexanchus griseus,Near Threatened,2019,Decreasing,Marine,NaN,Global,Vertebrates,Cartilaginous fishes,NaN,NaN,NaN,NaN,Cartilaginous fishes,NaN,NaN,NaN
1,Heosemys annandalii,Critically Endangered,2018,Decreasing,Terrestial & Freshwater,Indomalayan,Global,Vertebrates,Reptiles,NaN,NaN,NaN,NaN,Reptiles,NaN,NaN,NaN
2,Hubbsina turneri,Critically Endangered,2018,Decreasing,Freshwater,Neotropical,Global,Vertebrates,Ray-finned fishes,NaN,NaN,NaN,NaN,Ray-finned fishes,NaN,NaN,NaN
3,Hungerfordia pelewensis,Endangered,2011,Unknown,Terrestrial,Oceanian,Global,Mollusks,Snails & slugs,NaN,NaN,NaN,NaN,Snails & slugs,NaN,NaN,NaN
4,Ictalurus mexicanus,Vulnerable,2018,Unknown,Freshwater,Neotropical,Global,Vertebrates,Ray-finned fishes,NaN,NaN,NaN,NaN,Ray-finned fishes,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19075,Cercopithecus nictitans,Near Threatened,2016,Decreasing,Terrestrial,Afrotropical,Global,Vertebrates,Mammals,NaN,NaN,NaN,NaN,Mammals,NaN,NaN,NaN
19076,Sapajus cay,Vulnerable,2022,Decreasing,Terrestrial,Neotropical,Global,Vertebrates,Mammals,NaN,NaN,NaN,NaN,Mammals,NaN,NaN,NaN
19077,Plecturocebus vieirai,Critically Endangered,2022,Decreasing,Terrestrial,Neotropical,Global,Vertebrates,Mammals,NaN,NaN,NaN,NaN,Mammals,NaN,NaN,NaN
19078,Mico schneideri,Endangered,2022,Decreasing,Terrestrial,Neotropical,Global,Vertebrates,Mammals,NaN,NaN,NaN,NaN,Mammals,NaN,NaN,NaN
19079,Loxodonta africana,Endangered,2020,Decreasing,Terrestrial,Afrotropical,Global,Vertebrates,Mammals,Mammals,Africa,"Elephant, African",Mammals,Mammals,NaN,Africa,"Elephant, African"

In [73]:
concat_5['class_name'].isna().sum()

0

In [72]:
concat_5.to_csv('sundayfunday4.csv')